.feed-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: lightgray;

  .post {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 3px;

    .header {
      display: flex;
      flex-direction: row;

      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      div {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
    }

    .content {
      padding: 5px 0;
    }

    .footer {
    }

  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    background-color: #F8F8F8;
    border: 1px solid #F0F0F0;

    button {
      height: 30px;
      border: 0;
      background-color: #F0F0F0;
    }
  }
}
